<li class="flex border rounded-xl h-60">
  <img [src]="book.imageUrl" [alt]="book.name" width="150px" class="mt-4 mb-4 ml-4 mr-2 rounded-sm" />
  <div class="mt-4 mb-4 ml-2 mr-4">
    <p class="text-lg">{{book.name}} by {{book.author}}</p>
    <p class="my-4">{{book.amount | currency: 'KES '}}</p>
    <button  class="bg-yellow-400 rounded p-3" *ngIf="!isInCart" (click)="addToCart()">Add to Cart</button>
    <button  class="bg-yellow-400 rounded p-3" *ngIf="isInCart" (click)="removeFromCart()">Remove from Cart</button>
  </div>
</li>
