<div class="flex h-screen justify-center">
  <form (ngSubmit)="login()" #loginForm="ngForm" class="p-4 rounded-lg border m-auto w-1/3">
    <h1 class="text-center text-xl">Login</h1>

    <div *ngIf="errorMessage().length> 0" class="p-2 mt-3 bg-red-200 text-red-900">{{errorMessage()}}</div>

    <div class="my-5">
      <label class="w-full" for="email">Email</label>
      <input class="w-full p-2 rounded border" id="email" type="email" name="email" [(ngModel)]="user.email" #email="ngModel" placeholder="Email Address" required>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="p-2 mt-3 bg-red-200 text-red-900"> Email is a required field</div>
    </div>
    <div class="my-5">
      <label class="w-full" for="password">Password</label>
      <input class="w-full p-2 rounded border" id="password" type="password" name="password" [(ngModel)]="user.password" #password="ngModel" placeholder="Password" required>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="p-2 mt-3 bg-red-200 text-red-900"> Password is a required field</div>
    </div>
    <div class="my-5">
      <button [disabled]="loginForm.form.invalid" id="submit-btn" type="submit" class="p-2 w-full bg-purple-700 text-white hover:bg-purple-900 rounded">
        <ng-container *ngIf="!isLoading()">Submit</ng-container>
        <ng-container *ngIf="isLoading()">Loading...</ng-container>
      </button>
    </div>
  </form>
</div>
