<nav class="flex justify-between p-4 bg-purple-900 text-white">
  <div>
    <button routerLink="/">Book Shop</button>
  </div>
  <div>
    <button class="mx-4" routerLink="/cart">My Cart</button>

    <ng-container *ngIf="!isAuthenticated()">
      <button class="mx-4" routerLink="/login">Login</button>
      <button class="mx-4" routerLink="/register">Register</button>
    </ng-container>
    <ng-container *ngIf="isAuthenticated()">
      <button class="mx-4" (click)="logout()">Logout</button>
    </ng-container>
  </div>
</nav>
